html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  line-height: 1.3;
}

.attribution {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  color: white;
}

.attribution a {
  color: #3e52a3;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #090b1a;
  height: 100vh;
}

.container {
  margin-right: 10rem;
  margin-left: 10rem;
  height: 70%;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0.5rem;
}

.container .card__left {
  width: 50%;
  padding: 1.5rem 4rem 3rem 3rem;
  margin-bottom: 0;
}

.container .card__left h1 {
  font-size: 2rem;
  color: white;
}

.container .card__left h1 span {
  color: #aa5cdb;
}

.container .card__left .card__left__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container .card__left .card__left__bottom .card__text p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  line-height: 2rem;
}

.container .card__left .card__left__bottom .card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card__left .card__left__bottom .card__icons h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 2rem;
  margin-right: 2rem;
  color: rgba(255, 255, 255, 0.75);
}

.container .card__left .card__left__bottom .card__icons h2 span {
  display: block;
  font-size: 0.7rem;
  font-weight: lighter;
  color: white;
  margin-top: 0.7rem;
  text-transform: uppercase;
}

.container .card__right {
  width: 50%;
}

.container .card__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  body {
    height: auto;
    margin: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0.2rem;
    width: 100%;
  }
  body .container .card__left {
    width: 100%;
    padding: 1rem;
  }
  body .container .card__left h1 {
    text-align: center;
    font-size: 2rem;
  }
  body .container .card__left .card__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.5rem;
  }
  body .container .card__left .card__icons h2 {
    text-align: center;
    margin-top: 2;
    margin-right: 0;
  }
  body .container .card__left .card__left__bottom {
    margin-left: auto;
    margin-right: auto;
  }
  body .container .card__left .card__left__bottom .card__text p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.9rem;
  }
  body .container .card__right {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */